html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-width: var(--wrapper-width);
}

.hidden {
	display: none;
	opacity: 0;
}

